hr {
  border: 1px solid dimgray;
}
/**box 1**/
.box1 select {
  width: 100%;
  height: 30px;
  font-size: 12px;
  margin-top: 75%;
  border: 1px solid black;
  border-radius: 2%; }

.box1 {
  margin-bottom: 10%;
  margin-top: 10%;
  display: inline-block;
  background: url(images/defaultbg.jpg);
  min-width: 200px;
  width: 100%;
  min-height: 200px;
  transition: all .5s ease;
  cursor: pointer;
  border-radius: 10%;
  border: 2px solid black; }

.box1 img {
  border-radius: 10%; }

  /**box 2**/
  .box2 select {
    width: 100%;
    height: 30px;
    font-size: 12px;
    margin-top: 75%;
    border: 1px solid black;
    border-radius: 2%; }

  .box2 {
    margin-bottom: 10%;
    margin-top: 10%;
    display: inline-block;
    background: url(images/defaultbg.jpg);
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    transition: all .5s ease;
    cursor: pointer;
    border-radius: 10%;
    border: 2px solid black; }

  .box2 img {
    border-radius: 10%; }

    /**Box 3**/

    .box3 select {
      width: 100%;
      height: 30px;
      font-size: 12px;
      margin-top: 75%;
      border: 1px solid black;
      border-radius: 2%; }

    .box3 {
      margin-bottom: 10%;
      margin-top: 10%;
      display: inline-block;
      background: url(images/defaultbg.jpg);
      min-width: 200px;
      width: 100%;
      min-height: 200px;
      transition: all .5s ease;
      cursor: pointer;
      border-radius: 10%;
      border: 2px solid black; }

    .box3 img {
      border-radius: 10%; }

  /**Box 4**/
  .box4 select {
    width: 100%;
    height: 30px;
    font-size: 12px;
    margin-top: 75%;
    border: 1px solid black;
    border-radius: 2%; }

  .box4 {
    margin-bottom: 10%;
    margin-top: 10%;
    display: inline-block;
    background: url(images/defaultbg.jpg);
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    transition: all .5s ease;
    cursor: pointer;
    border-radius: 10%;
    border: 2px solid black; }

  .box4 img {
    border-radius: 10%; }

    /**Box 5**/

    .box5 select {
      width: 100%;
      height: 30px;
      font-size: 12px;
      margin-top: 75%;
      border: 1px solid black;
      border-radius: 2%; }

    .box5 {
      margin-bottom: 10%;
      margin-top: 10%;
      display: inline-block;
      background: url(images/defaultbg.jpg);
      min-width: 200px;
      width: 100%;
      min-height: 200px;
      transition: all .5s ease;
      cursor: pointer;
      border-radius: 10%;
      border: 2px solid black; }

    .box5 img {
      border-radius: 10%; }

    /**Box 6**/
    .box6 select {
      width: 100%;
      height: 30px;
      font-size: 12px;
      margin-top: 75%;
      border: 1px solid black;
      border-radius: 2%; }

    .box6 {
      margin-bottom: 10%;
      margin-top: 10%;
      display: inline-block;
      background: url(images/defaultbg.jpg);
      min-width: 200px;
      width: 100%;
      min-height: 200px;
      transition: all .5s ease;
      cursor: pointer;
      border-radius: 10%;
      border: 2px solid black; }

    .box6 img {
      border-radius: 10%; }

/**NIC CAGES BOX**/
.box2 {
  display: inline-block;
  background: url(images/defaultbg.jpg);
  min-width: 200px;
  min-height: 200px;
  transition: all .5s ease;
  cursor: pointer;
  border-radius: 15%; }

.boxA img {
  border-radius: 10%; }


  .boxA select {
    width: 100%;
    height: 30px;
    font-size: 12px;
    margin-top: 75%;
    border: 1px solid black;
    border-radius: 2%; }

  .boxA {
    margin-bottom: 10%;
    margin-top: 10%;
    display: inline-block;
    background: url(images/defaultbg.jpg);
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    transition: all .5s ease;
    cursor: pointer;
    border-radius: 10%;
    border: 2px solid black; }

    .boxB img {
      border-radius: 10%; }


      .boxB select {
        width: 100%;
        height: 30px;
        font-size: 12px;
        margin-top: 75%;
        border: 1px solid black;
        border-radius: 2%; }

      .boxB {
        margin-bottom: 10%;
        margin-top: 10%;
        display: inline-block;
        background: url(images/defaultbg.jpg);
        min-width: 200px;
        width: 100%;
        min-height: 200px;
        transition: all .5s ease;
        cursor: pointer;
        border-radius: 10%;
        border: 2px solid black; }

        .boxC img {
          border-radius: 10%; }


          .boxC select {
            width: 100%;
            height: 30px;
            font-size: 12px;
            margin-top: 75%;
            border: 1px solid black;
            border-radius: 2%; }

          .boxC {
            margin-bottom: 10%;
            margin-top: 10%;
            display: inline-block;
            background: url(images/defaultbg.jpg);
            min-width: 200px;
            width: 100%;
            min-height: 200px;
            transition: all .5s ease;
            cursor: pointer;
            border-radius: 10%;
            border: 2px solid black; }
            .boxD img {
              border-radius: 10%; }


              .boxD select {
                width: 100%;
                height: 30px;
                font-size: 12px;
                margin-top: 75%;
                border: 1px solid black;
                border-radius: 2%; }

              .boxD {
                margin-bottom: 10%;
                margin-top: 10%;
                display: inline-block;
                background: url(images/defaultbg.jpg);
                min-width: 200px;
                width: 100%;
                min-height: 200px;
                transition: all .5s ease;
                cursor: pointer;
                border-radius: 10%;
                border: 2px solid black; }



/**TESTING**/
.stuck {
  margin: 5px;
  color: #1852a6;
}
.stuck h1{
  text-shadow:0 1px 0 #aaa;
  cursor:pointer;
  position:absolute;
  top:218px;
  left:50px;
  font-size: 16px;
  z-index: 200;

}
.shrink{ width:0px; height:0px; padding:0; opacity:0;}
.stuck article{
  width:400px;
  height:300px;
  padding:20px;
  border-radius:0 20px 20px 20px;
  background:rgb(234,234,234);
  box-shadow:inset 0 0 5px 4px rgba(25,25,25,.8);
  position:absolute;
  top:218px;
  left:35px;
  overflow:hidden;
  transition: 200ms;
  z-index: 100;


  .stuck h2{
    text-align:center;
    text-shadow:0 1px 0 white;
    font:normal 30px;
    z-index: 200;

  }
  .stuck h2 + .stuck p{
   font-style:italic;
   z-index: 200;

  }
  .stuck p{
    width:90%;
    margin:0 auto;
    font:normal 12px/18px;
    margin-bottom:15px;
    z-index: 200;

  }
  .shrink {
    color: #1852a6;

  }
}
