/**BILL MURRAYS BOX**/

.box select {
  width: 100%;
  height: 30px;
  font-size: 12px;
  margin-top: 75%;
  border: 1px solid black;
  border-radius: 2%;
}

.box {
  margin-bottom: 10%;
  margin-top: 10%;
  display: inline-block;
  background: url(images/defaultbg.jpg);
  min-width: 200px;
  width: 100%;
  min-height: 200px;
  transition: all .5s ease;
  cursor: pointer;
  border-radius: 10%;
  border: 2px solid black;

}

.box img {
  border-radius: 10%;
}
/**NIC CAGES BOX**/

.box2 {
  display: inline-block;
  background: url(images/defaultbg.jpg);
  min-width: 200px;
  min-height: 200px;
  transition: all .5s ease;
  cursor: pointer;
  border-radius: 15%;
}

.box2 img {
  border-radius: 10%;
}
